@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, footer {
  background-color: black;
  background: linear-gradient(black 20%, #d8d5d5);
  background-position: center;
  background-repeat: no-repeat; }

footer {
  background: linear-gradient(#d8d5d5 30%, black); }

.titulo {
  padding: 10px; }
  .titulo h1 {
    color: #e4e0e0;
    font-size: 30px;
    font-family: titulo, cursive;
    display: flex;
    justify-content: center; }
  .titulo h4 {
    color: #e4e0e0;
    font-size: 15px;
    font-family: titulo, cursive;
    display: flex;
    justify-content: center; }

.navbar-nav a {
  color: white; }

body {
  background-color: #d8d5d5; }

.navbar-toggler {
  background: white; }

@font-face {
  font-family: titulo;
  src: url(../assets/fonts/blanka.otf); }

.grid-index {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 250px 250px 250px;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px; }

.contenedor-hombre {
  width: 250px;
  height: 250px;
  margin: 10px; }
  .contenedor-hombre:hover .imagen {
    transform: scale(1.5); }

.imagen {
  width: 100%;
  height: 100%;
  transition: transform 0.5s; }

.contenedor-niños {
  width: 250px;
  height: 250px;
  margin: 10px; }
  .contenedor-niños:hover .imagen {
    transform: scale(1.5); }

.imagen {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  transition: transform 0.5s; }

.contenedor-accesorios {
  width: 250px;
  height: 250px;
  margin: 10px; }
  .contenedor-accesorios:hover .imagen {
    transform: scale(1.5); }

.text {
  font-family: titulo,cursive;
  font-size: 24px; }

.divfooter img {
  width: 2.5rem; }

.redessociales {
  width: 100%;
  display: flex;
  justify-content: center; }
  .redessociales img {
    width: 2.5rem;
    margin: .625rem; }
