@media (min-width:1024px) {
.navbar-collapse {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 80px;
}
.col-lg-3 {
    margin-left: 50px;
}

.sectioncontacto {
    display: flex;
    justify-content: center;
    .imagentinta {
        img{
            width: 300px;
        }
    }
    .ubicacion {
        iframe{
            width: 300px;
            height: 300px;
        }
    }
    .imagencontacto {
        img {
            width: 300px;
        }
    }
}
.carousel{
    width: 60%;
}
}