.grid-index {
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: 250px 250px 250px;
	justify-content: center;
    gap: 40px;
	margin-bottom: 50px;
}
.contenedor-hombre {
	width: 250px;
	height: 250px;
    margin: 10px;
	&:hover {
		.imagen {
			transform: scale(1.5);
		}
	} 
	h4 {
		margin-left: 20px;
		margin-top: 5px;
		font-size: 20px;
	}
}
.imagen {
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
}
.contenedor-niños {
	width: 250px;
	height: 250px;
    margin: 10px;
	&:hover {
		.imagen {
			transform: scale(1.5);
		}
	}
	h4 {
		margin-left: 20px;
		margin-top: 5px;
	}
}
.imagen {
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
}
.contenedor-accesorios {
	width: 250px;
	height: 250px;
    margin: 10px;
	&:hover {
		.imagen {
			transform: scale(1.5);
		}
	}
	h4 {
		margin-left: 70px;
		margin-top: 5px;
	}
}
.text {
	font-family: notas;
	font-size: 24px;
}
