.sectioncontacto {
    gap: 1.25rem;
}

.imagencontacto {
    display: flex;
    justify-content: center;
    margin: 10px;
    img {
        width: 300px;
    }
}
.ubicacion {
    display: flex;
    justify-content: center;
    margin: 15px;
    iframe {
        width: 350px;
        height: 200px;
    }
}
.imagentinta {
    display: flex;
    justify-content: center;
    margin: 10px;
    img {
        width: 300px;
    }
}
.promo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}