@font-face {
    font-family: titulo;
    src: url(../assets/fonts/blanka.otf);
} 
@font-face {
    font-family: notas;
    src: url(https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap);
}